body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    background: url('/media/logo.jpeg') no-repeat center center fixed;
    background-size: contain;
background-repeat: no-repeat;
background-color: #000; /* fallback se imagem não preencher */
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    color: white;
}


.login-title {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: #0e1116;
}

.login-form p {
    margin-bottom: 1.2rem;
}

.login-form label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 0.65rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.95rem;
    background-color: #fafafa;
    transition: border-color 0.2s ease;
}

.login-form input:focus {
    border-color: #3366cc;
    outline: none;
    box-shadow: 0 0 0 3px rgba(51, 102, 204, 0.1);
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #3366cc;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.login-button:hover {
    background-color: #2851a3;
}

.register-link {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 0.95rem;
    color: #fff;
}

.register-link a {
    color: #3366cc;
    font-weight: 600;
    text-decoration: none;
    margin-left: 0.25rem;
}

.register-link a:hover {
    text-decoration: underline;
}
