<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Criar Produto HTML  </h2>
    <form method="POST" enctype="multipart/form-data" id="product-form">  
        {% csrf_token %}

        <p>
            {{form.images.label_tag}}
            {{ form.images }}
        </p>
        
        <p>
            {{ form.name.label_tag }} <br>
            {{ form.name}}
        </p>

        <p>
            {{ form.category.label_tag }}<br>
            {{ form.category }}
            <a  href="{% url 'create_category' %}?next={{ request.path }}" onclick="saveFormData()">Cadastrar nova categoria</a>
        </p>

        <p>
            {{ form.subcategory.label_tag }} <br>
            {{ form.subcategory }}
            <a id="new-subcategory-link" href="{% url 'create_subcategory' %}?next={{ request.path }}&category_id={{ form.category.value }} onclick="saveFormData()">+ Nova Subcategoria </a>
        </p>

        <p>
            {{ form.price.label_tag }}<br>
            {{ form.price }}
        </p>

        <p>
            {{ form.quantity.label_tag }}<br>
            {{ form.quantity }}
        </p>

        <p>
            {{ form.description.label_tag }}<br>
            {{ form.description }}
        </p>

        <p>
            {{ form.avaible.label_tag }}<br>
            {{ form.avaible }}
        </p>

        <button type="submit">Salvar</button>
    </form>

    <script>
        function saveFormData(){
            const form = document.getElementById('product-form');
            const formData = new FormData(form);
            const formEntries = {};
            for (const [key,value] of formData.entries()){
                formEntries[key] = value;
            }
            localStorage.setItem('productFormData', JSON.stringify(formEntries));
        }
        //when the pages load, repopulate the form
        window.onload = function(){
            const urlParams = new URLSearchParams(window.location.search);
            const hasCategoryId = urlParams.has('category_id');
            const hasSubcategoryId = urlParams.has('subcategory_id');

            const saveData = localStorage.getItem('productFormData');
            if (saveData && !hasCategoryId && !hasSubcategoryId){
                const formEntries = JSON.parse(saveData);
                for (const key in formEntries){
                    const field = document.querySelector(`[name="${key}"]`);
                    if (field && field.type != "file" && !field.value){
                        field.value = formEntries[key];
                    }
                }
            }   
            //if we have the subcategory & category ID send for the user erase the save
            if(hasCategoryId || hasSubcategoryId){
                localStorage.removeItem('productFormData')
            }
        }

        //update the link of subcategory based on category
        const categoriaSelect = document.getElementById("id_category");
        const subcatLink = document.getElementById("new-subcategory-link");

        function UpdateHref(){
            const selectedId = categoriaSelect.value;
            const baseHref = "{% url 'create_subcategory' %}";
            const next = "{{ request.path }}"

            if (selectedId){
                subcatLink.href = `${baseHref}?category_id=${selectedId}&next=${encodeURIComponent(next)}`;
            }else{
                subcatLink.href = `${baseHref}?next=${encodeURIComponent(next)}`;
            }
        }

        categoriaSelect.addEventListener("change", UpdateHref);
        UpdateHref();

    </script>
</body>
</html>