{% load static %}   

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Criar Produto HTML  </h2>
    <form method="POST" enctype="multipart/form-data" id="product-form">  
        {% csrf_token %}

        <p>
            {{form.images.label_tag}}
            {{ form.images }}
        </p>
        
        <p>
            {{ form.name.label_tag }} <br>
            {{ form.name}}
        </p>

        <p>
            {{ form.category.label_tag }}<br>
            {{ form.category }}
            <a  href="{% url 'create_category' %}?next={{ request.path }}" onclick="saveFormData()">Cadastrar nova categoria</a>
        </p>

        <p>
            {{ form.subcategory.label_tag }} <br>
            {{ form.subcategory }}
            <a id="new-subcategory-link"
            href="{% url 'create_subcategory' %}?next={{ request.path }}&category_id={{ form.category.value }}" 
            data-base="{% url 'create_subcategory' %}"
            data-next="{{ request.path }}"
            onclick="saveFormData()">
           + Nova Subcategoria</a>       
         </p>

        <p>
            {{ form.price.label_tag }}<br>
            {{ form.price }}
        </p>

        <p>
            {{ form.quantity.label_tag }}<br>
            {{ form.quantity }}
        </p>

        <p>
            {{ form.description.label_tag }}<br>
            {{ form.description }}
        </p>

        <p>
            {{ form.avaible.label_tag }}<br>
            {{ form.avaible }}
        </p>

        <button type="submit">Salvar</button>
    </form>

    <script src="{% static 'inventory/js/create_product.js' %}"></script>
</body>
</html>