{% extends "inventory/base.html" %}

{% block title %}Minha Home{% endblock %}

{% block content %}
    <h1>Bem-vindo ao Sistema de Estoque</h1>
    <p>Gerencie seus produtos com facilidade!</p>

    <h2>Seus Produtos Cadastrados</h2>

    {% if itens %}
        <ul>
            {% for item in itens %}
                <li>
                    <strong>{{ item.name }}</strong><br>
                    Preço: R$ {{ item.price }} <br>
                    Estoque: {{ item.quantity }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Você ainda não cadastrou nenhum produto.</p>
    {% endif %}
{% endblock %}


