{% extends "inventory/base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'inventory/css/minimun_stock.css' %}">
{% endblock %}



{% block content %}
   
    <div class="container">
        <h2 class="titulo">📦 Produtos com Estoque Mínimo</h2>
    
        {% if produtos_com_estoque_baixo %}

            <div class="linha-horizontal" id="carrossel">
                {% for produto in produtos_com_estoque_baixo %}
                    <!-- seus produtos -->
                     <a href="{% url 'item_details' produto.pk %}"> 
                    <div class="produto-card">
                        
                        <div class="info">
                            <strong>{{ produto.name }}</strong>
                            <p>Estoque: <span class="qtd">{{ produto.quantity }}</span></p>
                            <p>Mínimo: <span class="min">{{ produto.minimum_stock }}</span></p>
                            <p class="preco">R$ {{ produto.price }}</p>
                        </div>
                        {% if produto.images %}
                        
                            <img src="{{ produto.images.url }}" alt="{{ produto.name }}">
                        {% else %}
                            <img src="{% static 'img/default.png' %}" alt="Sem imagem">
                        {% endif %}
                    </a>    
                    </div>
                {% endfor %}
            </div>
            
            <!-- Botões de navegação (opcional) -->
            <div class="carrossel-nav">
                <button onclick="document.getElementById('carrossel').scrollBy(-300, 0)">&#x25C0;</button>
                <button onclick="document.getElementById('carrossel').scrollBy(300, 0)">&#x25B6;</button>
            </div>
            {% else %}
            <p class="sem-produto">Todos os produtos estão com estoque adequado.</p>

            {% endif %}
    </div>

    {% endblock %}


