{% extends "inventory/base.html" %}
{% load static %}
{% load humanize %}


{% block title %}Relatório de Estoque{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'inventory/css/stock_movement_report.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="titulo">📦 Relatório de Movimentação de Estoque</h2>

    {% if itens_movimentados %}
        <a href="{% url 'report_stock_movement' %}" class="btn-relatorio">
            📊 Baixar Relatório
        </a> 
        <ul class="movimentacoes-lista">
            {% for item_movimentado in itens_movimentados %}
                <li class="movimentacao-item">
                    <div class="imagem">
                        {% if item_movimentado.item.images %}
                            <img src="{{ item_movimentado.item.images.url }}" alt="{{ item_movimentado.item.name }}">
                        {% else %}
                            <img src="{% static 'img/default.png' %}" alt="Sem imagem">
                        {% endif %}
                    </div>

                    <div class="detalhes">
                        <h3 class="item-nome">{{ item_movimentado.item.name }}</h3>
                        <p><strong>Data da Movimentação:</strong> {{ item_movimentado.data }}</p>

                        {% if item_movimentado.tipo == "E" %}
                            <p><strong>Tipo:</strong> Entrada</p>
                            <p><strong>Quantidade Adicionada:</strong> {{ item_movimentado.quantidade }}</p>
                        {% elif item_movimentado.tipo == "S" %}
                            <p><strong>Tipo:</strong> Saída</p>
                            <p><strong>Quantidade Retirada:</strong> {{ item_movimentado.quantidade }}</p>
                        {% else %}
                            <p><strong>Tipo:</strong> Não registrado</p>
                        {% endif %}

                        <p><strong>Quantidade Atual em Estoque:</strong> {{ item_movimentado.item.quantity }}</p>
                        <p><strong>Quantidade anterior em Estoque:</strong> {{ item_movimentado.quantidade_antes }}</p>
                        <p><strong>Preço Unitário:</strong> R$ {{ item_movimentado.item.price|floatformat:2|intcomma }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="sem-movimentacao">Nenhuma Movimentação de Estoque</p>
    {% endif %}
</div>
{% endblock %}
