{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SmartStock</title>
    <link rel="stylesheet" href="{% static 'inventory/css/login.css' %}">
</head>
<body>

    <div class="page-wrapper">
        <!-- Logo em destaque no topo -->
        <div class="logo-wrapper">
            <img src="/media/logo.jpeg" alt="SmartStock Logo">
        </div>

        <div class="login-container">
            <div class="login-header">
                <h2>Bem-vindo de volta 👋</h2>
                <p>Faça login para acessar o seu painel</p>
            </div>

            <form method="post" class="login-form">
                {% csrf_token %}
                {{ form.non_field_errors }}
            
                <div class="form-group">
                    {{ form.login.label_tag }}
                    {{ form.login }}
                    {{ form.login.errors }}
                </div>
            
                <div class="form-group password-container">
                    <div class="label-wrapper">
                        {{ form.password.label_tag }}
                        <span class="toggle-password">👁️</span>
                    </div>
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
            
                <button type="submit" class="btn-login">Entrar</button>
            
            </form>

            <div class="extra-links">
                <a href="{% url 'register_view' %}">Criar Conta</a>
            </div>
        </div>
    </div>

    <script src="{% static 'inventory/js/login.js' %}"></script>

</body>
</html>
